[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Xfce 4 Workspaces Settings
Name[et]=Xfce 4 töölaua seaded
Name[fi]=Xfce 4 Työtilojen asetukset
Name[fr]=Paramètres des espaces virtuels de Xfce 4
Name[he]=הגדרות סביבות העבודה Xfce 4
Name[ko]=Xfce 4 작업공간 설정
Name[lt]=Xfce 4 darbalaukių nustatymai
Name[nl]=Instellingen Xfce 4 Virtuele Bureaubladen
Name[ro]=Xfce 4 setări spaţii de lucru
Name[ru]=Настройки рабочих мест Xfce 4
Name[zh_CN]=Xfce 4 工作区设置
Name[zh_TW]=Xfce 4 工作區設定
Comment=Workspaces Settings
Comment[et]=Töölaua seaded
Comment[fi]=Työtilojen asetukset
Comment[fr]=Paramétrage des espaces virtuels
Comment[he]=הגדרות סביבות העבודה
Comment[ko]=작업공간 설정
Comment[lt]=Darbalaukių nustatymai
Comment[nl]=Instellingen voor virtuele bureaubladen
Comment[ro]=Setări ale spaţiilor de lucru
Comment[ru]=Настройки рабочих мест
Comment[zh_TW]=设置工作区
Comment[zh_TW]=設定工作區
Exec=xfce-setting-show workspaces
Icon=xfce4-workspaces
Terminal=false
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;
OnlyShowIn=XFCE;
GenericName=Workspaces Settings
GenericName[et]=Töölaua seaded
GenericName[fi]=Työtilojen asetukset
GenericName[ko]=작업공간 설정
GenericName[lt]=Darbalaukių nustatymai
GenericName[nl]=Instellingen Virtuele Bureaubladen
GenericName[ro]=Setări spaţii de lucru
GenericName[ru]=Настройки рабочих мест
GenericName[zh_CN]=设置工作区
