[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Xfce 4 Window Manager Settings
Name[el]=Ρυθμίσεις Διαχειριστή Παραθύρων
Name[et]=Xfce 4 aknahalduri seaded
Name[eu]=Xfce 4 Leiho Kudeatzaile Ezarpenak
Name[fi]=Xfce 4 Ikkunamanagerin asetukset
Name[fr]=Paramètres du gestionnaire de fenêtres de Xfce 4
Name[he]=הגדרות מנהל החלונות Xfce 4
Name[hu]=Xfce 4 ablakkezelő beállítások
Name[ja]=Xfce 4 ウィンドウマネージャー設定
Name[ko]=Xfce 4 창관리자 설정
Name[lt]=Xfce 4 langų valdyklės nustatymai
Name[nl]=Instellingen Xfce 4 Window Manager
Name[ro]=Xfce 4 setări administrator ferestre
Name[ru]=Настройки оконного менеджера Xfce 4
Name[sv]=Xfce 4 Inställningar för fönsterhanteraren
Name[zh_TW]=Xfce 4 視窗管理程式設定
Comment=Window Manager Settings
Comment[el]=Ρυθμίσεις Διαχειριστή Παραθύρων
Comment[et]=Aknahalduri seaded
Comment[fi]=Ikkunamanagerin asetukset
Comment[fr]=Paramétrage du gestionnaire de fenêtres
Comment[he]=הגדרות מנהל החלונות
Comment[hu]=Ablakkezelő beállítások
Comment[ja]=ウィンドウマネージャーの設定を行います
Comment[ko]=창관리자 설정
Comment[lt]=Langų valdyklės nustatymai
Comment[nl]=Instellingen voor de window manager
Comment[ro]=Setările administratorului ferestrelor
Comment[ru]=Настройки оконного менеджера
Comment[sv]=Inställningar för fönsterhanteraren
Comment[zh_TW]=設定視窗管理程式
Exec=xfce-setting-show xfwm4
Icon=xfwm4
Terminal=false
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;
OnlyShowIn=XFCE;
GenericName=Window Manager Settings
GenericName[el]=Ρυθμίσεις Διαχειριστή Παραθύρων
GenericName[et]=Aknahalduri seaded
GenericName[eu]=Leiho Kudeatzaile Ezarpenak
GenericName[fi]=Ikkunamanagerin asetukset
GenericName[hu]=Ablakkezelő beállítások
GenericName[ja]=ウィンドウマネージャー設定
GenericName[ko]=창관리자 설정
GenericName[lt]=Langų valdyklės nustatymai
GenericName[nl]=Instellingen Window Manager
GenericName[ro]=Setări administrator ferestre
GenericName[ru]=Настройки оконного менеджера
GenericName[sv]=Inställningar för fönsterhanteraren
