[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Xfce 4 Workspaces Settings
Name[et]=Xfce 4 töölaua seaded
Name[fr]=Paramètres des espaces virtuels de Xfce 4
Name[he]=הגדרות סביבות העבודה Xfce 4
Name[ko]=Xfce 4 작업공간 설정
Name[nl]=Instellingen Xfce 4 Virtuele Bureaubladen
Name[ro]=Xfce 4 setări spaţii de lucru
Name[ru]=Настройки рабочих мест Xfce 4
Name[zh_TW]=Xfce 4 工作區設定
Comment=Workspaces Settings
Comment[et]=Töölaua seaded
Comment[fr]=Paramétrage des espaces virtuels
Comment[he]=הגדרות סביבות העבודה
Comment[ko]=작업공간 설정
Comment[nl]=Instellingen voor virtuele bureaubladen
Comment[ro]=Setări ale spaţiilor de lucru
Comment[ru]=Настройки рабочих мест
Comment[zh_TW]=設定工作區
Exec=xfce-setting-show workspaces
Icon=xfce4-workspaces
Terminal=false
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;
OnlyShowIn=XFCE;
GenericName=Workspaces Settings
Genericname[et]=Töölaua seaded
GenericName[ko]=작업공간 설정
GenericName[nl]=Instellingen Virtuele Bureaubladen
GenericName[ro]=Setări spaţii de lucru
GenericName[ru]=Настройки рабочих мест
