[Desktop Entry]
Version=1.0
Name=Xfce 4 WM Tweaks
GenericName=Window Manager Tweaks
GenericName[am]=የመስኮት አስተዳዳሪ ማሰማመር
GenericName[ar]=تضبيطات لمدير النوافذ
GenericName[be]=Наладкі Кіраўніка вокнаў
GenericName[ca]=Ajustaments avançats del gestor de finestres
GenericName[cs]=Pokročilá nastavení správce oken
GenericName[de]=Fenstermanager-Tweaks
GenericName[dz]=སྒོ་སྒྲིག་འཛིན་སྐྱོང་པ་གཅུཝ་ཨིན།
GenericName[el]=προσαρμογή διαχειριστή παραθύρων
GenericName[en_GB]=Window Manager Tweaks
GenericName[eo]=Rafina Agordo de la Administradilo de Fenestroj
GenericName[et]=Aknahalduri ülehäälestamine
GenericName[eu]=Leiho Kudeatzaile Gomendioak
GenericName[fi]=Ikkunamanagerin viritys
GenericName[fr]=Peaufinage des fenêtres
GenericName[he]=הגדרות נוספות של מנהל החלונות
GenericName[hu]=Ablakkezelő trükkök
GenericName[id]=Tweak Manajer Jendela
GenericName[ja]=ウィンドウマネージャー (詳細)
GenericName[ko]=창 관리자 기능향상
GenericName[lv]=Logu pārvaldnieka piedares
GenericName[mk]=Подобрувања на менаџерот за прозорци
GenericName[nb_NO]=Innstillinger for Vindushåndterer Avansert
GenericName[nl]=Venster Beheer Bijstellen
GenericName[pa]=ਵਿੰਡੋ ਮੈਨੇਜਰ ਟਵੀਕ
GenericName[pl]=Opcje Menadżera Okien
GenericName[pt_BR]=Ajustes do Gerenciador de janelas
GenericName[pt_PT]=Ajustes do Gestor de Janelas
GenericName[ro]=Preferinţe avansate ferestre
GenericName[ru]=Оконный менеджер
GenericName[sk]=Pokročilé nastavenie správcu okien
GenericName[sq]=Rregullime të Imta për Përgjegjës Dritaresh
GenericName[sv]=Finjusteringar för Fönsterhanteraren
GenericName[tr]=Pencere Yöneticisi İnce Ayarları
GenericName[uk]=Менеджер вікон
GenericName[ur]=ونڈو منیجر کار کردگی
GenericName[vi]=Tinh chỉnh của trình quản lí cửa sổ
GenericName[zh_CN]=窗口管理器调整
GenericName[zh_TW]=視窗管理程式調校
Comment=
Exec=xfwm4-tweaks-settings
Icon=wmtweaks
Terminal=false
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;
StartupNotify=true
OnlyShowIn=XFCE;
