/html
*.stamp
/xfwm4-decl-list.txt
/xfwm4-decl.txt
/xfwm4-undeclared.txt
/xfwm4-undocumented.txt
/xfwm4-unused.txt
/xfwm4.actions
/xfwm4.args
/xfwm4.hierarchy
/xfwm4.interfaces
/xfwm4.prerequisites
/xfwm4.signals
/xml
/xfwm4-decl-list.txt
/xfwm4-decl.txt
/xfwm4-overrides.txt
/xfwm4-scan.c
/xfwm4-sections.txt
/xfwm4.types
